table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre 
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { text-align: right; background-color: #EBEBEB; color: black; padding-right: 5px; padding-left: 5px; } 
td.sourceCode { padding-left: 5px; }
pre.sourceCode { }
pre.sourceCode span.Normal { }
pre.sourceCode span.Keyword { font-weight: bold; } 
pre.sourceCode span.DataType { color: #007880; }
pre.sourceCode span.DecVal { color: green; }
pre.sourceCode span.BaseN { color: green; }
pre.sourceCode span.Float { color: green; }
pre.sourceCode span.Char { color: green; }
pre.sourceCode span.String { color: green; }
pre.sourceCode span.Comment { color: #666; font-style: italic; }
pre.sourceCode span.Others { }
pre.sourceCode span.Alert { color: green; font-weight: bold; }
pre.sourceCode span.Function { color: #007880; }
pre.sourceCode span.RegionMarker { }
pre.sourceCode span.Error { color: #f00; font-weight: bold; }

pre.sourceCode span.ModuleName { color: blue; } 
pre.sourceCode span.Keyword { color: #007880; }
pre.sourceCode span.Function { }
pre.sourceCode span.FunctionDefinition { color: #007880; }
pre.sourceCode span.Class { color: #007880; text-decoration: underline; font-weight: normal; }
pre.sourceCode span.Constructor { text-decoration: underline; }
pre.sourceCode span.DataConstructor { color: #007880; }
pre.sourceCode span.TypeConstructor { text-decoration: underline; }
pre.sourceCode span.InfixOperator { color: #888; }
